.text1{
    color: skyblue;
    border-style: 5px solid;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1em;
}

.text2{
    position: absolute;
    top: 80%;
    text-align: center;
    border-top-style:dotted;
    border-bottom: dotted;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

a:link{
    color: blueviolet;
}
a:hover{
    color: tomato;
}

#logobg{
position: absolute;
left: 35%;
width:27%;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

#dlore{
    position: absolute;
    left: 35%;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width:30%;
}


#date {
    color: rgb(170, 37, 103);
}

body{
    background-image: url(bg-main.png);
    background-color: rgb(49, 49, 61);
    font-family: Arial, Helvetica, sans-serif
}
