.text1{
    color: skyblue;
    border-style: 5px solid;
    text-align: center;
}

.text2{
    text-align: center;
}

a:link{
    color: blueviolet;
}
a:hover{
    color: tomato;
}

#logobg{
position: absolute;
left: 35%;
width:30%;
}

#footerlogo{
    position: absolute;
    left: 41%;
    top: 3%;
    width: 19%;
}

#dlore{
  width: 33%;
    position: absolute;
    top: 12%;
    left: 34%;
}


#backimage{
   width: 35%;
    position: absolute;
    top: 20%;
    left: 34%;
}

body{
    background-image: url(bg-main.png);
    background-color: rgb(49, 49, 61);
    font-family: Arial, Helvetica, sans-serif
}
