.text1{
    color: skyblue;
    border-style: 5px solid;
    text-align: center;
}

.text2{
    text-align: center;
}

a:link{
    color: blueviolet;
}
a:hover{
    color: tomato;
}

#logobg{
position: absolute;
left: 35%;
width:27%;
}

#dlore{
    position: absolute;
    left: 35%;
    width:30%;
}




body{
    background-image: url(bg-main.png);
    background-color: rgb(49, 49, 61);
    font-family: Arial, Helvetica, sans-serif
}
